
.my-navbar {
  background: linear-gradient(180deg, #480000, #891400)!important;
}

.my-shadowed-text {
  text-shadow: 2px 2px 20px #000000;
}

.title {
  font-family: 'Russo One', sans-serif;
  text-shadow: 0 0 5px #000000;
}

.overlay.top-container>.container {
  background: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
  border-radius: 50%;
  padding: 35px;
  max-height: 300px;
}

.subtitle {
  font-family: 'Oswald', sans-serif;
  text-shadow: 0 0 5px #000000;
}

.img-text {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  margin: 15px;
  border-radius: 60px;
  text-shadow: 0 0 20px #630000;
}

.top-container {
  position: relative;

}

.boxes {
  width: 100%;
  font-size: 1.4rem;
}

.rounded-circle {
  min-width: 250px;
  min-height: 250px;
}

.boxes section {
  width: 100%;
}

.contact-div {
  min-height: 200px;
}

.contact-container {
  min-height: 150px;
  background: rgba(58, 58, 58, 0.95);
  border-radius: 30px;
  border: 4px gray solid;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 50px;
  color: white;
  text-shadow: 0 0 10px #828282;
}
.contact-container h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.contact-container h3 {
  text-align: right;
}

.img-fluid {
  display: block;
  margin: 0 auto;
}

.gallery-outer-container {
  margin: 50px auto;
  padding: 40px auto;
}

.gallery.container {
  background-color: rgba(0,0,0,0.2);
}

.carousel-item>img {
  border: 14px black solid;
  border-radius: 20px;
  box-shadow: 2px 0 150px black;
}

@media (max-width: 1200px) {

  .img-text {
    border-radius: 30px;
    margin: 5px;
    margin-bottom: 15px;
  }

  .boxes {
    font-size: 1.0rem;
  }
}

@media (max-width: 700px) {

  .boxes {
    font-size: 0.9rem;
  }

  .contact-container h2, .contact-container h3 {
    text-align: left;
  }
  .contact-container h3 {
    font-size: 20px;
  }
}
